{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title|capfirst }}
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ title|capfirst }}</h1>

    <div class="row">
        <div class="mx-auto col-4">
            {% if user.avatar %}
            <div>
                <img src="{{ user.avatar.url }}" alt="{{ user.username }}"
                     class="rounded-circle user_avatar">
            </div>
            {% endif %}


            <form action="{% url 'auth:edit' %}" class="form-horizontal" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <p>
                    <label for="login">Логин:</label>
                    {{ edit_form.username }}
                </p>
                <p>
                    <label>Имя:
                    {{ edit_form.first_name }}</label>
                </p>
                <p>
                    <label>Email:
                    {{ edit_form.email }}</label>
                </p>
                <p>
                    <label>Возраст:
                    {{ edit_form.age }}</label>
                </p>
                <p>
                    <label>Аватарка:
                    {{ edit_form.avatar }}</label>
                </p>

                <button class="btn btn-primary" type="submit">Сохранить</button>
            </form>

            <button class="btn btn-primary">
                <a href="{% url 'index' %}" class="text-light">На главную</a>
            </button>

        </div>
    </div>

</div>
{% endblock %}