{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title|capfirst }}
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ title|capfirst }}</h1>

    <div class="row">
        <div class="mx-auto col-3">
            <form action="{% url 'auth:login' %}" class="form-horizontal" method="post">
                {% csrf_token %}
                {{ login_form.as_p }}
                <button class="btn btn-primary" type="submit">Войти</button>
            </form>
            <button class="btn btn-round btn-primary">
                <a href="{#% url 'auth:register' %#}" class="text-light">
                    Зарегистрироваться
                </a>
            </button>
        </div>
    </div>

</div>
{% endblock %}